* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(246, 246, 246);
  font-family: calibri, "Centra No2", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

header {
  background-color: rgb(255, 255, 255);
  height: 65px;

}

.navbar {
  display: flex;
  justify-content: center;
  gap: 27rem;
  align-items: center;
  height: 65px;
  border-bottom: 1px solid lightgrey;
  
}

/* .left_container,
.right_container {

} */

.left_list, .right_list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 14px;
  font-weight: 550;
  color: rgb(54, 54, 54);
}

#english {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
